/*!======== Google Fonts ========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

/*!======== Variables ========*/
:root {
    --font-family: "Nunito", sans-serif;
    --lightblue-color: #007ea7;
    --darkblue-color: #003459;
    --black-color: #00171f;
    --white-color: white;
    --hover-color: #ebebeb;
    --navbar-padding: 14px 16px;
    --dropdown-padding: 8px;
    --dropdown-margin-top: 21px;
    --dropdown-margin-left: 15px;
    --dropdown-font-size: 17px;
    --dropdown-font-size-small: 12px;
    --dropbtn-margin-right: 8px;
    --logo-padding: 10px;
    --logo-width: 160px;
    --responsive-breakpoint: 1082px;
}

/*!======== Reset and Font ========*/
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
/*!================*/

/*!======== My Logo ========*/
.logo {
    width: var(--logo-width);
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: var(--darkblue-color); 
    padding: var(--logo-padding); 
    border-radius: 10px; 
}

.logo img {
    display: block;
    width: auto; 
    max-width: 100%; 
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-link:hover {
    background-color: transparent; 
}
/*!================*/

/*!======== Navbar Logo ========*/
/* Navbar */
.navbar {
    background-color: var(--darkblue-color);
    overflow: hidden;
}

/* Navbar Logo */
.navbar a {
    float: left;
    display: flex; 
    align-items: center; 
    text-align: center;
    padding: var(--navbar-padding);
    text-decoration: none;
    margin-right: var(--dropbtn-margin-right);
}

/* Hamburger Menu */
.navbar .icon {
    display: none;
    margin-top: 13px;
    color: var(--white-color);
}
/*!================*/

/*!======== Dropdown Tabs ========*/
/* General Dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown Buttons */
.dropdown .dropbtn {
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--white-color);
    text-align: center;
    padding: var(--navbar-padding);
    text-decoration: none;
    font-size: var(--dropdown-font-size);
    text-transform: uppercase;
    margin-right: var(--dropbtn-margin-right);
    background-color: transparent;
    margin-top: var(--dropdown-margin-top);
}

/* Dropdown Buttons Hover */
.dropdown .dropbtn:hover,
.dropdown .dropbtn.active-tab {
    background-color: var(--hover-color);
    color: var(--black-color);
}
/*!================*/

/*!======== Dropdown Content ========*/
/* Dropdown Content Box */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    width: max-content;
}

/* Dropdown Content Text */
.dropdown-content a {
    color: var(--black-color);
    padding: var(--dropdown-padding);
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: capitalize; 
    font-size: var(--dropdown-font-size-small);
}

/* Dropdown Content Images */
.dropdown-content a img {
    width: 20px; 
    margin-right: 5px; 
}

/* Dropdown Content Styling */
.dropdown.active .dropdown-content {
    display: grid;
    gap: 3px;
    left: 0;
    margin-top: 25px;
}

/* Specific Dropdowns */
.dropdown-content.nhl {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: var(--dropdown-margin-left);
}

.dropdown-content.op {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: calc(var(--dropdown-margin-left) + 100px);
}

.dropdown-content.pwhl {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: calc(var(--dropdown-margin-left) + 510px);
}

.dropdown-content.players {
    margin-left: calc(var(--dropdown-margin-left) + 685px);
}

.dropdown-content.draft {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-left: calc(var(--dropdown-margin-left) + 785px);
}

.dropdown-content.affiliations {
    margin-left: calc(var(--dropdown-margin-left) + 900px);
}

/* Hover */
.dropdown-content a:not(.non-link):hover {
  background-color: var(--hover-color);
  color: var(--black-color);
}

/* Division Names */
.dropdown-content .center-align {
    text-align: center; 
}

/* Conference Names */
.dropdown-content .title {
    grid-column: span 2; 
    text-align: center;
    font-size: 18px; 
}
/*!================*/

/*!======== Media Query ========*/
@media screen and (max-width: 1082px) {

    /* Hides links in the navbar (except the logo) */
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    /* Move the hamburger icon to the right and make it visible */
    .navbar a.icon {
        float: right;
        display: block;
    }

    /* Positioning for the navbar */
    .navbar.responsive {
        position: relative;
    }

    /* Positioning for the hamburger icon */
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Adjust styling for links in the navbar */
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* Adjust styling for the dropdown */
    .navbar.responsive .dropdown {
        float: none;
    }    
    
    /* Adjust styling for dropdown content */
    .navbar.responsive .dropdown-content {
        position: relative;
        margin-left: 0px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: var(--lightblue-color); 
    }

    /* Styling for dropdown content links */
    .navbar.responsive .dropdown-content a {
        padding: 15px; 
        color: white;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 15px;
        background-color: var(--darkblue-color); 
    }

    /* Hover effect for dropdown content links */
    .navbar.responsive .dropdown-content a:hover {
        color: black;
        background-color: #ebebeb;
    }

    /* Adjust styling for the dropbtn */
    .navbar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 1067px) {

    /* Adjust styling for dropdown content */
    .navbar.responsive .dropdown-content {
        position: relative;
        margin-left: 0px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: var(--darkblue-color); 
    }
}

@media screen and (max-width: 864px) {

    /* Adjust styling for dropdown content */
    .navbar.responsive .dropdown-content {
        position: relative;
        margin-left: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: var(--darkblue-color); 
    }
}

@media screen and (max-width: 641px) {

    /* Adjust styling for dropdown content */
    .navbar.responsive .dropdown-content {
        position: relative;
        margin-left: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: var(--darkblue-color); 
    }
}

@media screen and (max-width: 427px) {

    /* Adjust styling for dropdown content */
    .navbar.responsive .dropdown-content {
        position: relative;
        margin-left: 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: var(--darkblue-color); 
    }
}
/*!================*/
