/*!======== Google Fonts ========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

/*!======== Varibales ========*/
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
/*!================*/
/*!======== Data Table ========*/
/* Logo */
.title-logo {
    text-align: center;
}

/* Logo Spacing */
.logo-container {
    margin-top: 10px; 
}

/* Table Title */
h2 {
    text-transform: uppercase;
}

/* Coach and GM Title */
.team-info h3 {
    font-size: 15px; 
}

/* DataTables Search Bar */
.dataTables_filter input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

/* DataTables Pagination */
.dataTables_paginate {
    margin-top: 10px;
}

.dataTables_paginate .paginate_button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    color: black;
    background-color: #e9e9e9;
}

.dataTables_paginate .paginate_button:hover {
    background-color: white;
}

/* DataTables Info */
.dataTables_info {
    margin-top: 10px;
    color: #666;
}

/* DataTables Table Length */
.dataTables_length {
    margin-top: 10px;
    color: #666;
}

/* Rights Badge Styling */
.rights-badge {
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
}

.rights-badge.ufa {
    background-color: blue;
}

.rights-badge.rfa {
    background-color: red;
}
/*!================*/


/*!======== Media Query ========*/
@media screen and (max-width: 900px) {

    /* Entire Table Font */
    th, td {
        font-size: 10px;
    }

    .w3-button {
        font-size: 10px;
    }
}

@media screen and (max-width: 596px) {

    /* Entire Table Font */
    th, td {
        font-size: 7px;
    }
}
/*!================*/
